<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.ourglass.alyssa.absinthe_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".AbsintheApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Scenes.Registration.WelcomeActivity" />
        <activity android:name=".Scenes.Registration.LoginActivity" />
        <activity android:name=".Scenes.Registration.EnterNameActivity" />
        <activity android:name=".Scenes.Registration.EnterEmailActivity" />
        <activity android:name=".Scenes.Registration.EnterPasswordActivity" />
        <activity android:name=".Scenes.Tabs.MainTabsActivity" />
        <activity android:name=".Scenes.Control.DeviceViewActivity" />
        <activity android:name=".Scenes.Settings.InviteFriendsActivity" />
        <activity android:name=".Scenes.Settings.EditAccountActivity" />
        <activity android:name=".Scenes.Registration.CheckAuthActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".Scenes.Introduction.IntroSlidesActivity"/>
        <activity android:name=".Scenes.Introduction.CheckAppOpenedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Networking.OGDPService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGbRS2zSCoIZCk2dnlhp9wjhkV9ITXsa0" />


    </application>

</manifest>