<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.ourglass.alyssa.absinthe_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Registration.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration.LoginActivity" />
        <activity android:name=".Registration.EnterNameActivity" />
        <activity android:name=".Registration.EnterEmailActivity" />
        <activity android:name=".Registration.EnterPasswordActivity" />
        <activity android:name=".Tabs.MainTabsActivity" />
    </application>

</manifest>